<h1 style="color:red"><%= @erro_titulo %></h1>
<br/><br/>
<h4><%= @erro_mensagem %></h4>
<br /><br />

<h3>Mais Ajuda</h3>
Se está a ter problemas com alguma operação ou precisa de ajuda mais personalizada, por favor envie um e-mail para <a href="mailto:inscricoes@acampamentobaptista.com.pt">inscricoes@acampamentobaptista.com.pt</a>

