
<h1>Obter<span> nova Password</span></h1>
<br/><br/>

<div class="box">
    <div class="box_inner">	
      <h2>Envio de nova password</h2>
      <p>Após o preenchimento deste formulário irá ser enviada, por e-mail, uma nova password de acesso ao sistema</p>		
    </div>
  </div>
    <br/><br/><br/>

<div id="container">  
  <%= form_tag "/"+@entidade.sigla+"/users/reset_password", :method => :get, :class=>"niceform" -%>
    <fieldset>
          <!--legend>Login Info</legend-->
          <dl>
            <dt><label for="login">Username ou email</label></dt>
            <dd><%= text_field_tag :user, nil, :maxlength=>"255", :size=>"45"%></dd>
          </dl>
    </fieldset>
    <fieldset class="action">
      <%= submit_tag 'Obter nova password' %>
    </fieldset>
</div>