*
{
margin: 0px;
padding: 0px;
}

body
{
background-color: #fff;
color:  #4d4d4d;
font-size: 12px;
font-family: "trebuchet ms", helvetica, sans-serif;
}

a
{
text-decoration: underline;
color: #93B300;
}

a:hover
{
    text-decoration: none;
    color: #fff;
    background: #D3E378 url('../../images/DJ/bbg1.gif') repeat-x;
}

strong
{
background: inherit;
color: #50514D;
}

#header
{
width: 100%;
height: 70px;
background: #4d4d4d url('../../images/DJ/header.png') no-repeat center;
color: #ffffff;
}

#header_inner
{
position: relative;
width: 940px;
height: 70px;
margin: 0px auto;
}

#header_inner h1
{
background: inherit;
position: absolute;
left: 0px;
bottom: 10px;
text-transform: lowercase;
font-size: 39px;
color: #fff;
font-weight: normal;
letter-spacing: -2px;
}

#header_inner h1 span
{
background: inherit;
color: #DADADA;
}

#slogan
{
background: inherit;
position: absolute;
right: 0px;
bottom: 25px;
color: #DADADA;
text-transform: lowercase;
font-size: 13px;
}

#main
{
padding-top: 20px;
position: relative;
width: 1000px;
margin: 0px auto;
padding-bottom: 10px;
}

#menu ul
{
list-style: none;
margin: 0px;
}

#menu li
{
background: none;
padding: 0px;
font-weight: bold;
}

#menu a
{
    display: block;
    position: relative;
    width: 168px;
    height: 27px;
    margin-bottom: 1px;
    text-decoration: none;
    background: inherit;
    background-image: url('../../images/DJ/bbg0.gif');
    padding-left: 17px;
    padding-top: 11px;
    color: #636363;
    text-transform: lowercase;
    font-size: 13px;
}

#menu a span
{
position: absolute;
right: 0px;
margin-top: 5px;
margin-right: 15px;
width: 7px;
height: 7px;
background: url('../../images/DJ/x1.gif') no-repeat; 
}

#menu a:hover span
{
position: absolute;
right: 0px;
margin-top: 5px;
margin-right: 15px;
width: 7px;
height: 7px;
background: url('../../images/DJ/x2.gif') no-repeat;
}

#menu a:hover
{
    background: inherit;
    color: #fff;
    background-image: #6CC417 url('../../images/DJ/bbg1.gif');
}

#menu_end
{
height: 30px;
background-image: url('../../images/DJ/a2.gif');
}

h1
{
background: inherit;
color: #50514D;
/*text-transform: lowercase;*/
font-size: 26px;
}

h1 span
{
background: inherit;
color: #85AC1E;
}

h1 span sup
{
background: inherit;
color: #85AC1E;
font-size: 14px;
}

h3
{
margin-top: 30px;
background: inherit;
color: #50514D;
font-size: 15px;
height: 34px;
background: url('../../images/DJ/a3.gif') repeat-x 0px 17px;
}

h3 span
{
background: inherit;
color: #85AC1E;
}

h3.first
{
margin-top: 0px;
}

#lcol
{
position: relative;
width: 185px;
float: left;
}

#lcontent
{
position: relative;
padding: 0px 15px 0px 15px;
}

#rcontent
{
position: relative;
padding: 5px 20px 0px 20px;
}

ul
{
list-style: none;
}

li
{
/*background: url('../../images/DJ/x1.gif') no-repeat 0px 5px;*/
padding-left: 15px;
}

p
{
margin-bottom: 25px;
text-align: justify;
line-height: 20px;
}

#lcol p
{
font-size: 10px;
line-height: 16px;
margin: 0px;
}

.divider
{
font-size: 0px;
position: relative;
border-bottom: solid 1px #F5F5F5;
height: 1px;
width: 100%;
margin: 10px 0px 10px 0px;
}

.summary
{
text-align: right;
font-style: italic;
}

ul.divided li
{
border-top: solid 1px #F5F5F5;
margin-top: 4px;
padding-top: 4px;
background-position: 0px 9px;
}

ul.divided li.first
{
border-top: 0px;
margin-top: 0px;
padding-top: 0px;
background-position: 0px 5px;
}

#rcol
{
position: relative;
margin-left: 190px;
width: 810px;
background-image: url('../../images/DJ/a2.gif');
background-repeat: repeat-x;
}

#slogan2
{
font-size: 14px;
position: relative;
top: -5px;
}

.box
{
position: relative;
border: solid 1px #dadada;
margin-top: 15px;
background: inherit;
color: #AAB165;
}

.box h2
{
background: inherit;
color: #6C7425;
text-transform: uppercase;
font-weight: normal;
font-size: 18px;
margin-bottom: 5px;
}

.box p
{
font-size: 12px;
line-height: 16px;
margin: 0px;
font-weight: bold;
}

.box_inner
{
border: solid 1px #fff;
padding: 15px;
background: #FFFFE9 url('../../images/DJ/a4.gif') repeat-x;
color: inherit;
}

.captioned_image
{
position: relative;
padding-bottom: 15px;
float: left;
margin-right: 17px;
}

.captioned_image div
{
position: absolute;
font-size: 9px;
bottom: 0px;
left: 0px;
}

a img {
  border-style: none;
}

#footer
{
clear: both;
background: url('../../images/DJ/a2.gif') repeat-x;
width: 680px;
margin: 0px auto;
margin-bottom: 25px;
padding-top: 10px;
text-align: center;
text-transform: lowercase;
}



table.user_detail_table th{
    text-transform:uppercase;
    font-size:12px;
    font-weight:bold;
    padding: 5px 5px 5px 5px;
}

table.user_detail_table tr.header th{
    color: #fff;
    background: #6CC417 url('../../images/DJ/bbg1.gif') repeat-x;
}

table.user_detail_table {
    width:100%;
    color: #555555;
    font-size: 11px;
    vertical-align:middle;
}

table.user_detail_table tr{
    height:30px;
    background: url('../../images/DJ/bbg0.gif') repeat-x;
}

/*table.user_detail_table tr.odd{
    background-color:#efffef;
}*/

table.user_detail_table td{
    border-bottom: 1px solid #AAAAAA;
    padding: 5px 5px 5px 5px;
}

table.user_detail_table td.highlight{
    color: #fff;
    background: #6CC417 url('../../images/DJ/bbg1.gif') repeat-x;
}

table.user_detail_table td.blank{
    color: #fff;
    border: none;
    background-color: #ffffff ;
}

table.user_detail_table tr.blank{
    color: #fff;
    border: none;
    background: none;
}

table.user_detail_table a{
    background:none;
    /*color:#555555;*/
}

table.user_detail_table a:hover{
    background:none;
    color:#85AC1E;
}

table.multibanco {
    padding: 0px;
}

table.multibanco td {
    border: none;
    padding: 0px 0px 0px 0px !important;
    background: none;
    color: #50514D;
}

table.multibanco tr {
    border: none;
    padding: 0px 0px 0px 0px !important;
    background: none;
    color: #50514D;
    height:15px;
}